/* .landpage { */
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS6RhdOR5VvOC6RqSdicGk8FZLH5UIir2kqvw7LHmtD9ml4DZL);
  background-size: 1500px;
  background-repeat: no-repeat;
  height: 1200px;
  text-align: center;
  padding-top: 300px
  /* font-family: 'Pacifico', cursive; */
}
